html {
  font-size: 20px;
}

.text-decoration {
  text-align: center;
  text-shadow: 5px 5px 7px gray;
  letter-spacing: 1.2em;
  text-decoration: 3px underline; color: rbg(115, 115, 114); 
  font-family: "Josefin Sans" sans-serif;
  font-size: 40px;
}

.decoration {
  text-align: center;
  font-family: "Arial", "Meiryo", sans-serif;
}

#child div {
  font-weight: bold;
}

.text-black {
  color: black;
}
.text-skyblue {
  color: skyblue;
}
.text-pink {
  color: rgb(255, 192, 203);
}

